    @font-face {
        font-family: 'icone-';
        src: url('../fonts/icone-.ttf?l80pmh') format('truetype'), url('../fonts/icone-.woff?l80pmh') format('woff'), url('../fonts/icone-.svg?l80pmh#icone-') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
    
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icone-' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-newspaper:before {
        content: "\e902";
    }
    
    .icon-news:before {
        content: "\e902";
    }
    
    .icon-paper:before {
        content: "\e902";
    }
    
    .icon-phone:before {
        content: "\e903";
    }
    
    .icon-telephone:before {
        content: "\e903";
    }
    
    .icon-contact:before {
        content: "\e903";
    }
    
    .icon-support:before {
        content: "\e903";
    }
    
    .icon-call:before {
        content: "\e903";
    }
    
    .icon-question:before {
        content: "\e904";
    }
    
    .icon-help:before {
        content: "\e904";
    }
    
    .icon-support1:before {
        content: "\e904";
    }
    
    .icon-cart:before {
        content: "\1f6d2";
    }
    
    .icon-purchase:before {
        content: "\1f6d2";
    }
    
    .icon-ecommerce:before {
        content: "\1f6d2";
    }
    
    .icon-shopping:before {
        content: "\1f6d2";
    }
    
    .icon-home:before {
        content: "\1f3e0";
    }
    
    .icon-house:before {
        content: "\1f3e0";
    }
    /* general styles */
    
    html {
        background: #fafafa;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    * {
        font-size: 1.9rem;
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    
    nav {
        background: black;
    }
    
    nav [class^="icon-"],
    nav [class*=" icon-"] {
        padding-left: 3rem;
        position: relative;
    }
    
    nav [class^="icon-"]::before,
    nav [class*=" icon-"]::before {
        left: 0;
        position: absolute;
    }
    /* defining flex:1 on the flexible element of the flexbox children pushes the footer to the bottom of the page */
    
    main {
        flex: 1;
    }
    
    footer {
        background: black;
        color: #ffffff;
        padding: 3rem;
        text-align: right;
    }
    
    address {
        float: left;
    }
    /* reset ul styles */
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    li {
        flex: 0;
        margin: 1rem 2rem;
    }
    
    li.active a {
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        color: red;
        opacity: 1;
    }
    
    a {
        color: #ffffff;
        display: block;
        opacity: 0.8;
        padding: 1rem 2rem;
        text-decoration: none;
    }
    
    a:hover {
        opacity: 1;
    }
    
    main a {
        color: red;
    }
    
    #more:target+a {
        display: none;
    }
    
    #more:target+a+a {
        display: block;
    }
    
    #more,
    #more+a+a {
        display: none;
    }
    
    #more:target {
        display: block;
    }